:root {
  font-family: InterLatin, system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  color: rgb(255 255 255 / 87%);
  text-rendering: optimizelegibility;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
}

body {
  display: flex;
  place-items: center;

  box-sizing: border-box;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #fff;
  }
}

/* Fonts */
@font-face {
  font-family: InterLatin;
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/inter-latin-400-normal.woff2") format("woff2");
}